# This is Git's per-user configuration file.
[user]
	name = David Štorek
	email = xstorek@fi.muni.cz
	signingkey = 4629B7296BF10D85
[alias]
	st = status
	sw = switch
	graph = log --oneline --graph --all --decorate
	g = graph
	vd = difftool --tool=vimdiff -y
[core]
	autocrlf = input
[pull]
	rebase = true
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[init]
	defaultBranch = master
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
