configuration {
    modes: "window,drun,run,ssh,calc";
    font: "Noto Sans 14";
    show-icons: true;
    padding: 20;
    timeout {
        action: "kb-cancel";
        delay:  0;
    }
    filebrowser {
        directories-first: true;
        sorting-method:    "name";
    }
}

@theme "theme.rasi"

